
body {
    background-color: #525252;
}

#expression {
    background-color:#2B2B2B;
    color: rgba(255, 163, 0, 0.83);
    max-width:100%;

}

#expr {
    background-color:#2B2B2B;
    color: rgba(255, 163, 0, 0.83);
    max-width:100%;

}

.well {
    background-color: #3f3f3f;
}

.navbar {
    background-color: #0b1f3f;
}

.btn {
    background-color: #0b1f3f;
}
